<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<header th:replace="fragments :: header"></header>
<form method="POST" action="/eventCategories/create">
    <div class="form-group">
        <input type="hidden" th:value="${event.id}" th:field="${eventTag.event}"/>
        <label>Tags
            <select th:field="${eventTag}">
                <option th:each="tag :: ${tags}" th:value="${tag.id}" th:text="${tag.name}"></option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Add Tag" class="btn btn-success"/>
    </div>
</form>

</body>
</html>