<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<form method="post" action="/events/create">
    <div class="form-group">
        <label>Event Name
            <input th:field="${event.name}" class="form-control"/>
        </label>
        <p class="error" th:errors="${event.name}"></p>
    </div>
    <div class="form-group">
        <label>Event Description
            <input th:field="${event.eventDetails.description}" class="form-control"/>
        </label>
        <p class="error" th:errors="${event.eventDetails.description}"></p>
    </div>
    <div class="form-group">
        <label>Contact Email
            <input th:field="${event.eventDetails.contactEmail}" class="form-control"/>
        </label>
        <p class="error" th:errors="${event.eventDetails.contactEmail}"></p>
    </div>
    <div class="form-group">
        <label>Location
            <input th:field="${event.eventDetails.location}" class="form-control"/>
        </label>
        <p class="error" th:errors="${event.eventDetails.location}"></p>
    </div>
<!--    <div class="form-group">-->
<!--        <label>Do Attendees need to Register?-->
<!--            <input th:field="${event.mustRegister}" type="checkbox" class="form-control"/>-->
<!--        </label>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label>Event Date-->
<!--            <input th:field="${event.eventDate}" type="date" class="form-control"/>-->
<!--        </label>-->
<!--    </div>-->
    <div class="form-group">
        <label>Category
            <select th:field="${event.eventCategory}" class="form-control">
                <option th:each="eventCategory : ${categories}" th:value="${eventCategory.id}" th:text="${eventCategory.name}"></option>
            </select>
        </label>
        <p class="error" th:errors="${event.eventCategory}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Create Event" class="btn btn-success"/>
    </div>

</form>
<!--<p th:text="${errorMsg}"></p>-->
</body>
</html>