<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1>Coding Events</h1>
<nav th:replace="fragments :: navigation"></nav>
<p th:unless="${events} and ${events.size()}">No Events :(</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <th:block th:each="event : ${events}">
        <tr>
            <td th:text="${event.getKey()}"></td>
            <td th:text="${event.getValue()}"></td>
            <td><span th:replace="fragments :: default-address"></span></td>
            <td><img th:src="@{/Images/Placeholder.png}"></td>
        </tr>
    </th:block>

</table>

</body>
</html>