<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<p th:unless="${events} and ${events.size()}">No Events :(</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
        <th>Email Address</th>
        <th>Location</th>
        <th>Category</th>
        <th>ID</th>
    </tr>
    </thead>
    <th:block th:each="event : ${events}">
        <tr>
            <td th:text="${event.name}"></td>
            <td th:text="${event.eventDetails.description}"></td>
            <td th:text="${event.eventDetails.eventDate}"></td>
            <td th:text="${event.eventDetails.contactEmail}"></td>
            <td th:text="${event.eventDetails.location}"></td>
            <td th:text="${event.eventCategory.name}"></td>
            <td th:text="${event.id}"></td>
            <td>
                <a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>
            </td>
            <td><img th:src="@{/Images/Placeholder.png}"></td>
        </tr>
    </th:block>

</table>

</body>
</html>